# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  gaussquad,
  MASS,
  Rmpfr
)

importFrom("stats", "glm", "model.matrix", "optimize", "poisson")